.home-page-wrapper {
    width: 100vw;
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

.user-profile-wrapper {
    margin-top: 1vh;
    width: 20vw;
    height: 88vh;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-profile-container {
    width: 100%;
    height: 100%;
}

.content-wrapper {
    width: 80vw;
    height: 90vh;
    padding: 3.7rem;
}


