/* styles.css */

/* Form container */
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Sayfanın tamamını kapla */
}
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Form alanları */
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="file"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  /* Gönder butonu */
  button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
/* Radio buttonlar */
.radio-container {
  margin-bottom: 10px;
}

.radio-container input[type="radio"] {
  margin-right: 5px;
}

.radio-container label {
  margin-right: 15px;
}

  